.single-goods{
	width: 200px;
	height:400px;
	border: 1px solid black;
	margin: 10px;
	float: left;
	text-align: center;
	
}
.single-goods img{
	width: 100px;
	height:200px;
}
.single-goods button{
	display: block;
	margin: 20px auto;
}